#app {
/*	background-color:#eee;
*/}
.innercontainer{
  width: 100%;
  height: 500px;
  margin-right: 100px; 
  margin-left: 150px; 
}
/*.singleFile {
  width: 650px;
  height:700px; 
}
.uploadFiles {
  width: 200px;
  height: 200px; 
}
#upload_target {
  width:0;
  height:0;
  border:0px solid #fff;
}*/
/*.roundstar {
  width: 20px;
  height: 20px;
}*/
.innerText {
  padding: 10px;
}
/*#stars  > span {
  display: inline-block;
  font-size: 30px;
  color: #2384a7;
}
#stars:hover > span:before {
  content: '\2605';
  position: absolute;
}
#stars > span:hover ~ span:before {
  content: '';
}*/

/*.ratingStar  > span {
  display: inline-block;
  font-size: 30px;
  color: #2384a7;
}*/
/*.ratingStar:hover > span:before {
  content: '\2605';
  position: absolute;
}*/
/*.ratingStar > span:hover ~ span:before {
  content: '';
}*/

/*.rating {
    unicode-bidi:bidi-override;
    direction:rtl;
    font-size:50px;
}
.rating span.star {
    font-family: FontAwesome;
    font-weight:normal;
    font-style:normal;
    display:inline-block;
}
.rating span.star:hover {
    cursor:pointer;
}
.rating span.star:before {
    content:"\f006";
    padding-right:5px;
    color:#999999;
}
.rating span.star:hover:before, .rating span.star:hover~span.star:before {
    content:"\f005";
    color:#e3cf7a;
}


span.star.filled:before{ color:#e3cf7a; content:"\f005";}*/

.ptage, .ptage1 {
  color: black;
  font-weight: bold;
  border: 1px solid #d9d9d9;
  background-color: rgba(0, 153, 255, 0.5);
  padding: 3px 8px;
}

.ptage:hover, .ptage1:hover {
  background-color: rgba(0, 153, 255, 0.8);
}

.ptage {
  float: left;
  margin-left: 20%;
}

.ptage1 {
  float: right;
  margin-right: 20%;
}

div.companyInfo {
  border-top: 1px solid #b3b3b3;
  border-bottom: 1px solid #b3b3b3;
  background-color:rgba(256,256,256);
  width: 90%;
  margin: 10px auto 0 auto;
  text-align: center;
  padding-bottom: 25px;
}
.textareas{
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.companyImg:hover {
    animation-name: rotate; 
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
.companyImg{
  width:75px; 
  height: 75px;
  border-radius: 50%;
}
/*.newDiv {
  display: none;
  border-left:2px red solid; 
  background-color: #eee;
  width: 1300px;
  height: 100%;
  margin-top: 20px;
  margin-right:100px;
  margin-left: 65px; 
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}*/
.employeeReview, .newDiv {
  display: none;
  border-left: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;
/*  background-color: #eee;*/
  width: 90%;
  height: 100%;
  margin: 8px auto 0 auto;
  text-align: center;
  font-size: 0.9em;
}

.employeeReview button, .newDiv button, .helpfulPoints, .helpfulPointsForInterview {
  border: 1px solid grey;
  background-color: #f2f2f2;
  border-radius: 2px;
  margin: 10px 4px 0 4px;
}

.employeeReview button:hover, .newDiv button:hover, .helpfulPoints:hover, .helpfulPointsForInterview:hover {
  background-color: #d9d9d9;
  cursor: pointer;
}

.review-item {
  margin-top: 4px;
  padding-top: 4px;
  border-top: 1px solid #ccc;
}

.review-sub {
  margin-left: 10px;
  margin-top: 3px;
}

.comments{
  padding: 15px 8px 10px 8px;
  width: 90%;
  margin: 0 auto;
  background-color: rgba(0, 153, 255, 0.25);
  margin-bottom: 10px;
  text-align: left;
}

.newDiv2 {
  display: block;
  background-color: #eee;
  width: 1000px;
  height: 100%;
  margin-top: 20px;
  margin-right:100px;
  margin-left: 210px; 
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.employerReview {
  width: 100px;
  height: 100px;
  float: right;
}

.interviewReview {
  width: 100px;
  height: 100px;
  float: left;
}
.comment{ 
  background-color: #eee;
  width: 1000px;
  height: 80px;
}