#app {
/*	background-color:#eee;
*/}

.roundstar {
  width: 20px;
  height: 20px;
}
.innerText {
  padding: 50px;
}
#stars  > span {
  display: inline-block;
  font-size: 30px;
  color: #2384a7;
}
#stars:hover > span:before {
  content: '\2605';
  position: absolute;
}
#stars > span:hover ~ span:before {
  content: '';
}

.ratingStar  > span {
  display: inline-block;
  font-size: 30px;
  color: #2384a7;
}
.ratingStar:hover > span:before {
  content: '\2605';
  position: absolute;
}
.ratingStar > span:hover ~ span:before {
  content: '';
}
.ptage{
/*  padding-top:20px;*/
  float: left;
  color: white; text-shadow: black 0.1em 0.1em 0.2em;
}
.ptage1{
  color: white; text-shadow: black 0.1em 0.1em 0.2em;
  float: right;
}
.companyInfo {
  border-left:2px red solid; 
  background-color:rgba(256,256,256);
  padding-bottom: 150px;
  width: 1300px;
  margin-top: 40px;
/*  margin-right:150px;
*/  margin-left:65px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.textareas{
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.companyImg:hover {
    animation-name: rotate; 
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
.companyImg{
  width:75px; 
  height: 75px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.newDiv {
  display: none;
  border-left:2px red solid; 
  background-color: #eee;
  width: 1300px;
  height: 100%;
  margin-top: 20px;
/*  margin-right:100px;
*/  margin-left: 65px; 
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.employeeReview {
  display: none;
  border-left:2px red solid; 
  background-color: #eee;
  width: 80%;
  height: 100%;
  margin-top: 20px;
/*  margin-right:100px;
*/  margin-left: 65px; 
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.comments{
  border-bottom:2px #2E8B57 solid; 
  padding-top: 15px;
  width: 1000px;
  margin-right: 80px;
  margin-left: 150px;  
}
.newDiv2 {
  display: block;
  background-color: #eee;
  width: 1000px;
  height: 100%;
  margin-top: 20px;
  margin-right:100px;
  margin-left: 210px; 
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.employerReview {
  width: 100px;
  height: 100px;
  float: right;
}

.interviewReview {
  width: 100px;
  height: 100px;
  float: left;
}
.comment{ 
  background-color: #eee;
  width: 1000px;
  height: 80px;
}